#newsPagePanel section[role=main] {
    overflow-x: auto;
    overflow-y: hidden;
}

#newsPagePanel #newsLv {
    height: 100%;
}

    #newsPagePanel #newsLv .win-container:not(.win-footprint) {
        background-color: transparent;
    }

    #newsPagePanel #newsLv .win-surface {
        margin-left: 115px;
        margin-right: 60px;
        margin-bottom: 100px;
    }

@media screen and (-ms-view-state: snapped) {
    #newsPagePanel header {
        margin-left: 0;
        padding-left: 12px;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-columns: auto 1fr;
    }

        #newsPagePanel header button {
            -ms-grid-column: 1;
        }

    #newsPagePanel h1 {
        margin-top: 40px;
        -ms-grid-column: 2;
    }

    #newsPagePanel #newsLv .win-surface {
        margin-left: 0;
        margin-bottom: 0;
    }
}

@media all and (-ms-view-state: fullscreen-portrait) {
    #newsPagePanel #newsLv .win-surface {
        margin-left: 100px;
    }
}
