<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="KhanAcademy.KhanAcademy" Version="1.4.0.0" Publisher="CN=9EEFF36B-A367-4823-A2E3-F8CBF81E9328" />
  <Properties>
    <DisplayName>Khan Academy</DisplayName>
    <PublisherDisplayName>Khan Academy</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Khan Academy" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Khan Academy is a fluid, feature rich and well-designed app which enables you to learn on the go. It has thousands of videos from Khan Academy for topics including math, science, history, finance, civics and many more." ForegroundText="light" BackgroundColor="#242c37">
        <DefaultTile ShowName="noLogos" WideLogo="images\widelogo.png" ShortName="Khan Academy" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#242c37" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>