body {
    background-color: #242C37;
}

.win-appbar {
    background-color: rgb(0,0,0);
    border-color: rgb(0,0,0);
}

.win-commandring, .win-ui-dark button:active .win-commandring {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
}

button:hover .win-commandring {
    background-color: rgba(255, 255, 255, 0.43);
    border-color: rgb(255, 255, 255);
}

button:hover:active .win-commandring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

button:-ms-keyboard-active .win-commandring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

button:disabled .win-commandring,
button:disabled:active .win-commandring {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.4);
}

button[aria-checked=true] .win-commandring,
button[aria-checked=true]:active .win-commandring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

button[aria-checked=true]:hover .win-commandring {
    background-color: rgb(222, 222, 222);
    border-color: rgb(222, 222, 222);
}

button[aria-checked=true]:hover:active .win-commandring {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
}

button[aria-checked=true]:-ms-keyboard-active .win-commandring {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
}

button[aria-checked=true]:disabled .win-commandring,
button[aria-checked=true]:disabled:active .win-commandring {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}

button[aria-checked=true]:disabled .win-commandring,
button[aria-checked=true]:disabled:active .win-commandring {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}

button:disabled .win-commandimage, button:disabled:active .win-commandimage {
    background-position-x: -120px;
    background-position-y: 0px;
    color: rgba(255, 255, 255, 0.4);
}

button:disabled.win-command .win-label, button:disabled.win-command:active .win-label {
    color: rgba(255, 255, 255, 0.4);
}

.win-commandimage {
    color: rgb(255,255,255);
}

button, input[type=button], input[type=submit],
input[type=reset], input[type=file]::-ms-browse {
    background-color: rgba(182, 182, 182, 0.7);
    border-color: rgba(255,255,255, 0.2);
    color: rgb(255,255,255);
}

    button.win-command:focus {
        border-color: rgb(255,255,255);
    }

.win-settingsflyout .win-content {
    padding-top: 0;
    padding-right: 0;
    padding-left: 24px;
    overflow-y: hidden;
}

    .win-settingsflyout .win-content .win-settings-section {
        height: 100%;
        overflow-y: hidden;
    }

    .win-settingsflyout .win-content iframe {
        height: 100%;
        width: 100%;
    }

#logInBox {
    position: absolute;
    top: 55px;
    right: 71px;
    display: -ms-grid;
    -ms-grid-columns: auto auto;
    -ms-grid-rows: 1fr;
}

#loginButton {
    background-color: transparent;
    border: hidden;
    color: black;
    -ms-grid-column: 2;
    font-size: 20pt;
    font-weight: lighter;
    padding: 0;
}

    #loginButton:hover {
        background-color: #cccccc;
    }

    #loginButton:active {
        background-color: #828688;
    }

#userProgress {
    margin: 5px;
    color: #7fac05;
    -ms-grid-row-align: center;
    display: none;
}

#loginButtonContent {
    display: -ms-grid;
    -ms-grid-columns: auto auto;
    -ms-grid-rows: 1fr;
}

#displayText {
    -ms-grid-row-align: center;
    -ms-grid-column-align: end;
    margin-left: 10px;
}

#userAvatarContainer {
    background-color: #26303D;
    -ms-grid-column: 2;
    margin: 5px 5px 5px 10px;
    height: 40px;
    width: 40px;
}

#avatarImage {
    background-size: contain;
    width: 100%;
    height: 100%;
}

#userMenu {
    border: solid 1px #999;
}

#userDetails {
    display: -ms-grid;
    -ms-grid-columns: auto auto;
    -ms-grid-rows: auto auto auto;
    font-weight: normal;
}

#userImage {
    height: 100px;
    width: 100px;
    -ms-grid-row-span: 3;
    background-size: cover;
}

#userName {
    font-size: 20pt;
    padding: 10px 0px 10px 10px;
    -ms-grid-column: 2;
}

#userPoints {
    font-size: 12pt;
    color: #666;
    padding: 5px 0px 5px 10px;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    text-align: right;
}

#userPtsDiv span {
    font-size: 8pt;
}

#joined {
    color: #666;
    padding: 5px 0px 5px 10px;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    float: right;
    text-align: right;
}

#noConnectionPane {
    position: absolute;
    top: 0px;
    left: 50%;
    display: none;
}

    #noConnectionPane div {
        width: 84px;
        padding: 4px;
        margin-left: -44px;
        background-color: lightgrey;
        color: #898989;
        font-size: 10pt;
        text-align: center;
    }

#noDataPane {
    height: 100%;
    background-image: url('/images/splashscreen.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #242C37;
    color: white;
}

#noDataGrid {
    display: -ms-grid;
    height: 100%;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

    #noDataGrid div {
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
        margin-top: 345px;
        color: #ccc;
        text-align: center;
    }

    #noDataGrid progress {
        color: #9eb63a;
    }

#contenthost {
    height: 100%;
    width: 100%;
    background-color: #e7e7e7;
}

.fragment {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        -ms-grid-columns: 39px 81px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 2;
            margin-top: 59px;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle, .fragment header[role=banner] .titlearea .chevron {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

.listpage {
    -ms-grid-columns: 530px 1fr;
}

    .listpage header[role=banner] {
        color: white;
        -ms-grid-row-span: 2;
    }

        .listpage header[role=banner] .titlearea {
            margin-top: 45px;
        }

    .listpage .win-backbutton {
        background-color: transparent;
        border-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }

    .listpage header p {
        font-size: 20pt;
        overflow: hidden;
        padding: 0px 20px 20px 0px;
    }

    .listpage section[role=main] {
        -ms-grid-column: 2;
    }

    .listpage #childrenLv {
        height: 100%;
        width: 100%;
    }


        .listpage #childrenLv .win-surface {
            margin-left: 40px;
            margin-right: 60px;
        }

        .listpage #childrenLv .win-container:not(.win-footprint) {
            background-color: transparent;
        }

.win-listview .win-container:not(.win-footprint) {
    background-color: rgb(15, 110, 180);
}

.win-listview .win-container:hover {
    outline-style: none;
}

a {
    color: white;
}

    a:hover {
        color: #e1e57f;
    }

.touchShade {
    background-color: rgba(0,0,0,0.1);
}

.touchScale {
    transform: scale(0.96, 0.96);
}

/* Default colors for unknown domains */

.domainItem, .domainItemSubject, .domainMenu {
    background-color: #13967e;
}

/* math */
.x7a488390 {
    background-color: #347192;
}

.x7a488390-subject {
    background-color: #30a7de;
}

/* science */
.xb92336a2 {
    background-color: #ba3d66;
}

.xb92336a2-subject {
    background-color: #ba3d66;
}

/* economics and finance */

.x5ca94af1 {
    background-color: #8e4c9b;
}

.x5ca94af1-subject {
    background-color: #8e4c9b;
}

/* humanities */
.x905db83d {
    background-color: #4e55a1;
}

.x905db83d-subject {
    background-color: #4e55a1;
}

/* talks and interviews */
.xd1039e22 {
    background-color: #13967e;
}

.xd1039e22-subject {
    background-color: #13967e;
}

/* partner content */
.x54390c7e {
    background-color: #13967e;
}

.x54390c7e-subject {
    background-color: #13967e;
}

::selection, option:checked, select:focus::-ms-value, option:checked:hover, select:focus option:checked:hover {
    background-color: #7fac05;
}

.win-listview:not(.win-selectionstylefilled) .win-container.win-selected .win-selectionborder {
    border-color: #7fac05;
}

.win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectionborder {
    border-color: #6b9104;
}

.win-listview:not(.win-selectionstylefilled) .win-selectioncheckmarkbackground {
    border-top-color: #7fac05;
    border-right-color: #7fac05;
}

.win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectioncheckmarkbackground {
    border-top-color: #6b9104;
    border-right-color: #6b9104;
}

#childrenLv .win-container, #downloadsLv .win-container, #resultsLv .win-container, #newsLv .win-container {
    margin-right: 16px;
}

.videoItem {
    width: 220px;
    height: 165px;
    background-color: #000;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    background-size: cover;
    border: solid 1px #ccc;
}

    .videoItem .titleDiv {
        background-image: linear-gradient(#252d39 0%, #000);
        color: #E7E7E7;
        -ms-grid-row-align: end;
        padding: 8px;
        min-height: 38px;
    }

@media screen and (-ms-view-state: snapped) {
    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 20px;
    }

        .fragment header[role=banner] .win-backbutton {
            margin: 0;
            margin-right: 10px;
            margin-top: 46px;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-left: 0;
            margin-top: 44px;
        }

    #logInBox {
        top: 12px;
        right: 12px;
        color: #777;
    }

    #childrenLv .win-container, #downloadsLv .win-container, #resultsLv .win-container, #newsLv .win-container {
        margin-right: 20px;
        margin-left: 20px;
    }

    .videoItem {
        width: 280px;
        height: 210px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .fragment header[role=banner] {
        -ms-grid-columns: 100px 1fr;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 29px;
        }

    #logInBox {
        right: 40px;
    }
}
